{% extends "base.html" %}

{% block page_title %}
Informações
{% endblock %}

{% block content %}
<h1 class="mb-4" style="padding-top: 31px">Informações</h1>

<div class="d-flex justify-content-between flex-wrap">
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h5 class="card-title">Tarefas</h5></div>
        <div class="card-body">
            <p class="card-title">Success card title</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h5 class="card-title">Livros</h5></div>
        <div class="card-body">
            <p class="card-title">Success card title</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>

    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header"><h5 class="card-title">Usuários</h5></div>
        <div class="card-body">
            <p class="card-title">Success card title</p>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div>

{% endblock %}