{% extends "base.html" %}

{% block page_title %}
Tarefas
{% endblock %}


{% block content%}

{% comment %} Cadastro de Tarefa {% endcomment %}
<section class="d-grid justify-content-md-end">
    <a href="/tarefas/cadastrar" type="button" class="btn btn-success btn-sm">Cadastrar Tarefa</a>
</section>

<h1 class="mb-4">Lista de Tarefas</h1>

{% comment %} Tabela de Tarefas {% endcomment %}
<table class="table table-hover">
    {% comment %} Cabeçalho de tarefas {% endcomment %}
    <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Título</th>
        <th scope="col">Criado em</th>
        <th scope="col">Data de entrega</th>
        <th scope="col">Finalizado em</th>
        <th scope="col">Ações</th>
        </tr>
    </thead>
    {% comment %} Tarefas {% endcomment %}
    <tbody class="">

        {% for todo in todo_list%}
            <tr>
                <th scope="row">{{ todo.id }}</th>
                <td>{{ todo.title }}</td>
                <td>{{ todo.created_at }}</td>
                <td>{{ todo.deadline }}</td>
                <td>{{ todo.finished_at | default:"-" }}</td>
                <td>
                    <a href="/tarefas/concluir/{{todo.id}}" class="btn btn-primary btn-sm">Concluir</a>
                    <a href="/tarefas/alterar/{{todo.id}}" class="btn btn-success btn-sm">Editar</a>
                    <a href="/tarefas/excluir/{{todo.id}}" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}
